.body {
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    font-size: x-large;
}

/* Image at the top */
.header {
    width: auto;  
    text-align: center;
    background-color: rgb(25, 29, 93);
}
.headerImg {
    max-width: 100%;
    height: auto;  
}
/* Memoriam */
.memoriamImg {
    background-size: cover;
    background-position: bottom;
    background-image: url("../Assets/memoriam.jfif");
    background-blend-mode: multiply;
    background-color: grey;
    color: white;
}

/* Button customization */
.btn {
    color: white;
    background-color: rgb(71, 118, 198);
}
.btn:hover {
    color: #ffffff;
    background-color: #1165b9;
}

/* Form Stuff */
.whiteBg {
    background-color: white;
    border-radius: 20px;
}

/* Responses */
ul > li {
    list-style: none;
    display: inline-block;
    margin-inline: 5%;
}