.body {
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    font-size: x-large;
}

/* Image at the top */
.header {
    width: auto;  
    text-align: center;
    background-color: rgb(25, 29, 93);
}
.headerImg {
    max-width: 100%;
    height: auto;  
}
/* Memoriam */
.memoriamImg {
    background-size: cover;
    background-image: url("../Assets/memoriam.jfif");
}

/* Button customization */
.btn {
    color: white;
    background-color: rgb(71, 118, 198);
}
.btn:hover {
    color: #ffffff;
    background-color: #1165b9;
}