.body {
    background-image: url(../Assets/ram.png);
    background-position: center center;
    background-size: cover;
    /*background-color: rgb(68, 68, 68);*/
    color: white;
}

.pink-font {
    color: rgb(59, 174, 236);
}