.photosContainer {
    width: 100vw;
    height: 90vh;
    position: relative;
    margin: 0;
    padding: 0;
}

.slideBackground {
    background-color: white;
    position: absolute;
    width: 80vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    border-radius: 2vw;

    left: 50%;
    top: 50%;
    margin-left: -40vw;
    margin-top: -45vh;
}

.currImg {
    position: absolute;
    width: 70vw;
    height: 80vh;

    left: 50%;
    top: 50%;
    margin-left: -35vw;
    margin-top: -40vh;
    /* background-color: black; */
}

.currImg img {
    position: absolute;
    max-height: 80vh;
    max-width: 70vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#prevImg {
    position: absolute;
    top: 50%;
    height: 5vh;
    transform: translateY(-50%);
    z-index: 2;
    left: 3%;
    cursor: pointer;
}
#nextImg {
    position: absolute;
    top: 50%;
    height: 5vh;
    transform: translateY(-50%);
    z-index: 2;
    left: 97%;
    translate: -100%;
    cursor: pointer;
}
#FSI {
    position: absolute;
    top: 100%;
    left: 100%;
    height: 5vh;
    transform: translate(-150%, -150%);
    cursor: pointer;
}

/* fullscreen */
.fullPhotosContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.fullSlideBackground {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullCurrImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.fullCurrImg img {
    position: absolute;
    max-height: 100vh;
    max-width: 100vw;

    
    left: 50%;
    transform: translateX(-50%);
}